@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* ! common style  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* ! Header Style start */

header {
  background: rgba(255, 144, 14, 0.1);
  width: auto;
  padding: 50px 240px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-text {
  font-size: 2vw;
  font-weight: 700;
  color: #131313;
  cursor: pointer;
  margin: 8px 0px;
}
.nav-menu ul {
  display: flex;
  align-items: center;
}
.nav-menu li {
  list-style: none;
  font-size: 1.125rem;
  color: #424242;
  font-weight: 500;
  margin-right: 2rem;
  cursor: pointer;
}
.text-container {
  margin: 0 auto;
  width: 850px;
  text-align: center;
  padding: 50px 0px;
}
.banner-title {
  font-size: 3vw;
  font-weight: 700;
  color: #131313;
  padding-bottom: 10px;
}
.text-style {
  color: #727272;
  font-size: 1vw;
  font-weight: 400;
}

.primary-btn {
  padding: 1.5vw 3vh;
  margin-top: 16px;
  border-radius: 0.5rem;
  background: #ff900e;
  border: none;
  font-weight: 400;
  color: #fff;
}

.banner img {
  width: 100%;
}

/* ! Section One  style start */

.team-container {
  padding: 50px 200px;
  display: flex;
  gap: 30px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-text-container {
  align-self: center;
}

/* ! Responsive style start here */

@media only screen and (max-width: 576px) {
  header {
    padding: 10px 10px;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
  }
  .text-container {
    margin: 0 auto;
    width: auto;
    text-align: center;
    padding: 50px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 10px 10px;
  }

  .header-nav {
    display: flex;
    flex-direction: column;
  }
  .text-container {
    margin: 0 auto;
    width: auto;
    text-align: center;
    padding: 5px;
  }
}
